// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

$highlightcolor: rgba(147,37,23,1);

img{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1em;
	display: block;
	float: left;
	word-wrap: break-word;
}

a{
	color: $highlightcolor;
	&:hover{
		color: $highlightcolor + #222;
	}
	@include transition(color .5s);
}

h1{
	font-size: ms(4);
	text-align: center;
}

.orbit-caption a{
	color: #999999;
	&:hover{
		color: $highlightcolor;
	}
	@include transition(color .5s);
}

blockquote cite{
	font-size: ms(2);
}

#container{
	@include outerRow();
}

#top-row{
	@include innerRow();
	margin-top: 8em;
}

#header{
	@include offsetBy(1);
	@include column(10,collapse);
//	background-color: rgba(255,255,255, 0.6);
//	position: fixed;
//	z-index: 999;
	margin-top: 2em;
	h1, h2, h3, h4, h5, h6{
		display: inline;
	}
	h1{
		color: $highlightcolor;
	}
	img{
		display: inline;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

#nav-block{
	display: inline-block;
	padding-left: 2em;
	margin-top: .5em;
	vertical-align: top;
	//float: right;
}

#nav{
	display: inline-block;
	h1, h2, h3, h4, h5, h6{
		font-size: ms(1);
	}
	a, li{
		display: inline;
		text-align: center;
		color: #444444;
		&:hover{
			color: $highlightcolor;
		}
		@include transition(color .5s);
	}
	li{
		font-family: $headerFontFamily;
		font-size: ms(1);
		padding-left: 1em;
//		text-transform: uppercase;
		a{
			color: $headerFontColor;
			&:hover{
					color: $highlightcolor;
					//text-decoration: underline;
			}	
		}
	}
}

//#header{
//	//@include push(4);
//	@include column(12,collapse);
//	img{
//		margin-top: 1em;
//		margin-bottom: 2em;
//	}
//}

#content{
	@include offsetBy(1);
	@include column(10);
	p, blockquote, li{
		font-size: ms(1);
	}
	p.ms-zero{
		font-size: ms(0);
	}
	p.ms-one{
		font-size: ms(1);
	}
	p.ms-two{
		font-size: ms(2);
	}
	cite {
		font-size: ms(2);
	}
	ul{
		list-style-type: square;
	}
}

#content-side{
	@include offsetBy(1);
	@include column(8);
	p, blockquote, li{
		font-size: ms(1);
	}
	p.ms-zero{
		font-size: ms(0);
	}
	p.ms-one{
		font-size: ms(1);
	}
	p.ms-two{
		font-size: ms(2);
	}
	cite {
		font-size: ms(2);
	}
	ul{
		list-style-type: square;
	}
}

#sidebar{
	@include column(2);
	img{
		max-width: 100%;
		margin-top: 0.3em;
		margin-bottom: 1em;
	}
	h3{
		font-size: ms(1);
	}
	ul{
		list-style: none;
		list-style-type: none;
	}
	li{
	}
}

/*
#bott-row{
	@include innerRow();
}

#bott-1{
	@include column(4);
}

#bott-2{
	@include column(4);
}

#bott-3{
	@include column(4);
}
*/

#archive{
	ul{
		list-style: none;
		list-style-type: none;
	}
	li{
		font-size: ms(1);
	}
}

.nivoslider a{
	border: 0px;
	display: block;
}

.slider-wrapper.theme-light{
	padding: 0 !important;
}

.theme-light .nivo-caption{
	background: rgba(0,0,0,0.3) !important;
	font-family: $headerFontFamily !important;
}