// You custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "foundation/components/global";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";
// @import "foundation/common/globals";
// @import "foundation/mixins/clearfix";
// @import "modular-scale";

// Control which mixins you have access too

// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

@import "compass/css3/transition";

@mixin font-smoothing($font-smoothing) { 
  // none | antialiased | subpixel-antialiased
  -webkit-font-smoothing: $font-smoothing;
     -moz-font-smoothing: $font-smoothing;
      -ms-font-smoothing: $font-smoothing;
          font-smoothing: $font-smoothing;
}

$highlightcolor: rgba(147,37,23,1);

// Slider Styles

//General

blockquote.frontpage{
  font-size: 2em;
  margin-bottom: 0;
  cite{
    font-size: 1em;
  }
}

blockquote.one{
  font-size: 1.3em;
  margin-right: 20em;
}

blockquote.two{
  float: right;
  margin-left: 20em;  
}

blockquote.three{
  margin-top: 10em;
  margin-left: 5em;
  margin-right: 15em;
}

blockquote.four{
  font-size: .7em;
  float: left;
  margin-top: 10em;
  margin-right: 30em;
}

blockquote.five{
  font-size: .7em;
  margin-top: 22em;
}

blockquote.six{
  font-size: .7em;
  float: right;
  margin-top: 13em;
  margin-left: 50em;
}

// Foundation Orbit

.orbit-caption a{
	color: #999999;
	&:hover{
		color: $highlightcolor;
	}
	@include transition(color .5s);
}

.orbit-next, .orbit-prev, .orbit-timer{
  visibility: hidden;
}

// Royal Slider

.rsABlock {
//  position: relative;
  display: block;
  left: auto;
  top: auto;
}

.royalSlider{
  width: 100%;
}

#slider-with-blocks-1{
  background: #fff;
}

.rsOverflow, .rsSlide{
  background: #fff !important;
} 

// General Global

.stars{
  background-image: url(/images/star.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

p, blockquote, li{
	font-size: 1em;
	color: $body-font-color;
}

span{
  color: $body-font-color;
}

blockquote{
  span{
    font-weight: 700;
    color: #f00;
  }
}

cite {
	font-size: 2em;
}

ul{
	list-style-type: square;
}

img.alternate{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1em;
	display: block;
	float: right;
	word-wrap: break-word;
}

img{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1em;
	display: block;
	float: left;
	word-wrap: break-word;
}

p, a, li, h1, h2, h3, h4, h5, h6, cite, blockquote{
  text-rendering: geometricPrecision;
  @include font-smoothing(antialiased);
}

a{
	color: $highlightcolor;
	&:hover{
		color: $highlightcolor + #222;
	}
	@include transition(color .5s);
}

h1{
	text-align: center;
}

#container{
	@include grid-row();
}

#top-row{
	@include grid-row(nest);
	margin-top: 8em;
}

#header{
	@include grid-column($columns: 10, $offset: 1, $collapse: true);
//	background-color: rgba(255,255,255, 0.6);
//	position: fixed;
//	z-index: 999;
	margin-top: 2em;
	h1, h2, h3, h4, h5, h6{
		display: inline;
		color: $highlightcolor;

	}
	img{
		display: inline;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

//id and class

#nav-block{
	display: inline-block;
	padding-left: 2em;
	margin-top: .8em;
	vertical-align: top;
	//float: right;
}

#nav{
	display: inline-block;
	h1, h2, h3, h4, h5, h6{
		font-size: 1em;
	}
	a, li{
		display: inline;
		text-align: center;
		color: #444444;
		&:hover{
			color: $highlightcolor;
		}
		@include transition(color .5s);
	}
	li{
		font-family: $header-font-family;
		font-size:1em;
		padding-left: 1em;
//		text-transform: uppercase;
		a{
			color: $header-font-color;
			&:hover{
					color: $highlightcolor;
					//text-decoration: underline;
			}	
		}
	}
}

//#header{
//	//@include push(4);
//	@include column(12,collapse);
//	img{
//		margin-top: 1em;
//		margin-bottom: 2em;
//	}
//}

#content{
	@include grid-column($columns: 10, $offset: 1);
}

#content-side{
	@include grid-column($columns: 8, $offset: 1);
	p, li{
		font-size: 1em;
	}
	blockquote p{
		font-size: 1.3em;
	}
	cite {
		margin-top: 1em;
		font-size: 1em;
	}
	ul{
		list-style-type: square;
	}
}

#sidebar{
	@include grid-column($columns: 2);
	img{
		max-width: 100%;
		margin-top: 0.3em;
		margin-bottom: 1em;
	}
	h3{
		font-size: 1em;
	}
	ul{
		list-style: none;
		list-style-type: none;
	}
	li{
	}
}

#book-covers{
  @include grid-row(nest-collapse);
}

#book-wrap{
  @include grid-column(12, $collapse: true);
}

#books{
  @include block-grid($per-row: 4, $base-style: true);
  //Why negative margins??? maybe just use the regular grid instead?
}


#bott-row{
	@include grid-row(nest);
	margin-top: 2em;
}


#bott-1{
	@include grid-column(8);
}

#bott-2{
	@include grid-column(4);
}

/*
#bott-3{
	@include grid-column(4);
}
*/

#archive{
	ul{
		list-style: none;
		list-style-type: none;
	}
	li{
		font-size: 1em;
	}
}

