---
layout: main
title: Les Picker Fine Art Photography
tagline: Limited Edition Prints
---
{% include JB/setup %}

<div class="featured slideshow-wrapper">

  <!-- Big Blockquotes -->
  <div id="slider-with-blocks-1" class="royalSlider rsMinW">
    
    <!-- Pharaoh -->          
    <div class="rsContent stars" id="slide-3">
  		<a href="/pharaoh/">
  			<blockquote class="rsABlock frontpage" data-move-effect="left"  data-delay="500" data-move-offset="500" data-fade-effect"true">
  			  "Dazzling Historical Fiction! &hellip;a solid, <span>visceral</span>, scrupulously detailed novel&hellip; keeps the reader committed to this meticulously detailed and <span>fascinating story</span> of the rise of the First Pharaoh. This is <span>superb writing</span> - not only skillful but passionate. <span>Highly recommended</span>."<cite>Grady Harp (TOP 50 REVIEWER & HALL OF FAME REVIEWER)</cite>
  			</blockquote>
  		</a>
    </div>
    
    <!-- Pharaoh Small blockquotes -->
    <div class="rsContent animated" id="animate-1">
      <blockquote  class="rsABlock one" data-move-effect="right"  data-delay="0">"A great read. A page turner that is <span>intelligent and enriching</span>."</blockquote>
      <blockquote class="rsABlock two" data-move-effect="top" data-delay="1000" data-move-offset="500" data-easing="easeOutBack"  data-fade-effect="none">This is a <span>masterwork</span>...marvelous writing! Beautiful character development...this beautiful book hooked me...I feel that I was THERE. This is a fabulous read. Thoughtful, researched, and an adventure!</blockquote>
      <blockquote class="rsABlock three" data-move-effect="right" data-delay="1500" data-move-offset="500" data-fade-effect="none">"A <span>must read</span>. This novel wonderfully depicts 3100 year old Egypt, and the man who became its first Pharaoh."</blockquote>                       
      <blockquote class="rsABlock four" data-move-effect="left" data-delay="2000" data-move-offset="500" data-speed="1000" data-fade-effect="none">"Fascinating Read!"</blockquote>     
      <blockquote class="rsABlock five" data-move-effect="bottom" data-delay="2500" data-move-offset="50" data-fade-effect="true">"The next best thing to a time machine. <span>Rich with historical detail</span> The book is compelling in its humanity and just a great story."</blockquote>                  
      <blockquote class="rsABlock six" data-move-effect="right" data-delay="2500" data-move-offset="50" data-fade-effect="true">"<span>Fiction at its finest</span>. Highly recommend for book clubs."</blockquote>                  
    </div>
    
    <!-- Pharaoh -->
    <div class="rsContent stars" id="slide-2">
  		<a href="/pharaoh/">
  			<blockquote class="rsABlock frontpage" data-move-effect="right"  data-delay="500" data-move-offset="500" data-fade-effect"true">
  			  "Fascinating! A tale <span>full of wonder</span>, intrigue, treachery, and betrayal… truly comes alive. Easy prose, lush descriptions, and <span>well developed characters</span>… compelling."<cite>Great Historicals</cite>
  			</blockquote>
  		</a>
    </div>
    
    <!-- Dagger -->
    <div class="rsContent animated" id="animate-2">
      <blockquote  class="rsABlock one" data-move-effect="right"  data-delay="0">"This book was <span>hard to put down</span>."</blockquote>
      <blockquote class="rsABlock two" data-move-effect="top" data-delay="1000" data-move-offset="500" data-easing="easeOutBack"  data-fade-effect="none">"Nice, readable prose, and a compelling story. It is <span>historical fiction at its finest</span>."</blockquote>
      <blockquote class="rsABlock three" data-move-effect="right" data-delay="1500" data-move-offset="500" data-fade-effect="none">"I found this <span>completely engrossing</span> and could hardly put it down."</blockquote>                       
      <blockquote class="rsABlock four" data-move-effect="left" data-delay="2000" data-move-offset="500" data-speed="1000" data-fade-effect="none">"&hellip;very intriguing. I highly recommend this book."</blockquote>     
      <blockquote class="rsABlock five" data-move-effect="bottom" data-delay="2500" data-move-offset="50" data-fade-effect="true">"Good book and an excellent read. Met all my expectations."</blockquote>                  
      <blockquote class="rsABlock six" data-move-effect="right" data-delay="2500" data-move-offset="50" data-fade-effect="true">… the reader EXPERIENCES one of the most fascinating cultures ever to exist."</blockquote>                  
    </div>
    
    <!-- Pharaoh -->
    <div class="rsContent stars" id="slide-1">
  		<a href="/pharaoh/">
  			<blockquote class="rsABlock frontpage" data-move-effect="right"  data-delay="500" data-move-offset="500" data-fade-effect"true">
  			  "<span>Gripping!</span> Had me engaged from the first scene, and kept me reading through all hours of the night. Memorable characters, well plotted and written."<cite>Jennifer Marlier</cite>
  			</blockquote>
  		</a>
    </div>
    
    <!-- Pharaoh Small blockquotes -->
    <div class="rsContent animated" id="animate-3">
      <blockquote  class="rsABlock one" data-move-effect="right"  data-delay="0">"<span>Highly recommended!</span> You don't have to be a fan of historical fiction to enjoy The First Pharaoh."</blockquote>
      <blockquote class="rsABlock two" data-move-effect="top" data-delay="1000" data-move-offset="500" data-easing="easeOutBack"  data-fade-effect="none">"… a heroic story with a very human heart. A <span>page-turner</span> filled with amazing visuals of a dazzling historical period."</blockquote>
      <blockquote class="rsABlock three" data-move-effect="right" data-delay="1500" data-move-offset="500" data-fade-effect="none">"A wonderful page turner. Epic <span>events jump off the page<//div>, from battles to birthing&hellip;timeless life lessons and truths for the ages."</blockquote>  
      <blockquote class="rsABlock four" data-move-effect="left" data-delay="2000" data-move-offset="500" data-speed="1000" data-fade-effect="none">"Highly recommended for anyone who loves a <span>good tale well told</span>."</blockquote>   
    </div>
    
    <!-- Sargent -->          
    <div class="rsContent stars" id="slide-4">
  		<a href="/pharoah/">
  			<blockquote class="rsABlock frontpage" data-move-effect="left"  data-delay="500" data-move-offset="500" data-fade-effect"true">
  			  "Throughout the book are enchanting descriptions of the Maine countryside so <span>vivid</span> that one can smell the flowers and taste the blueberries." I <span>thoroughly enjoyed</span> this book."<cite>Janet S.</cite>
  			</blockquote>
  		</a>
    </div>

    <!-- Sargent Small blockquotes -->
    <div class="rsContent animated" id="animate-4">
      <blockquote  class="rsABlock one" data-move-effect="right"  data-delay="0">"&hellip;a <span>powerful</span> story of loss, love, betrayal, acceptance and joy, and you never know which emotion is coming next."</blockquote>
      <blockquote class="rsABlock two" data-move-effect="top" data-delay="1000" data-move-offset="500" data-easing="easeOutBack"  data-fade-effect="none">"What I loved about this story is that (it) is not predictable at all."</blockquote>
      <blockquote class="rsABlock three" data-move-effect="left" data-delay="2000" data-move-offset="500" data-speed="1000" data-fade-effect="none">"The author always keeps you guessing."</blockquote>   
    </div>
    
  </div> <!-- slider-id-with-blocks-1 -->
</div> <!-- featured -->

<hr>

<div id="book-covers">
  <div id="book-wrap">
	  <ul id="books">
	    <li><a href="/pharaoh/"><img src="/images/thumb/pharaoh.jpg" alt="The First Pharaoh" /></a></li>
	    <li><a href="/dagger/"><img src="/images/thumb/dagger.jpg" alt="The Dagger Of Isis" /></a></li>
	    <li><a href="/sargent-mountain/"><img src="/images/thumb/sargentmountain.png" alt="Sargent Mountain" /></a></li>
	    <li><a href="/the-underground/"><img src="/images/thumb/underground.jpg" alt="The Underground" /></a></li>
	  </ul>
  </div>
</div>

<div id="bott-row">
	<div id="bott-1">
  	{% include themes/lpfa/breaking.html %}
	</div>
	<div id="bott-2">
  	{% include themes/lpfa/news.html %}
	</div>
</div>

