<!DOCTYPE html>
<html>
  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
  
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
  
    <title>{{ page.title }}</title>
  
  	{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
   
    <!-- noasync for all javascript -->
    <script type="data-cfasync='false' text/javascript " src="//use.typekit.net/wpt4icx.js"></script>
    <script type="data-cfasync='false' text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <!-- Included CSS Files -->
    <link rel="stylesheet" href="/stylesheets/app.css">
  	<link rel="stylesheet" type="text/css" href="/javascripts/lightview3/css/lightview/lightview.css"/>
 
    <script src="/javascripts/foundation/custom.modernizr.js"></script>
      
    <!--Nivo Slider
    <link rel="stylesheet" href="/javascripts/nivo-slider/nivo-slider.css">
  	<link rel="stylesheet" href="/javascripts/nivo-slider/themes/light/light.css" type="text/css" media="screen" />
  	<script src="/javascripts/nivo-slider/jquery.nivo.slider.pack.js"></script>
  	-->
  	
  	<!--Lightview 3-->
  	<!--[if lt IE 9]>
  	  <script type="text/javascript" src="/javascripts/lightview3/excanvas/excanvas.js"></script>
  	<![endif]-->
  	    
    <!-- should prolly go in image pages? 
  	<script type="text/javascript">
  	   $(window).load(function() {
  		   $('#featured').orbit({
  		   		animation: 'fade',
  		   		timer: true,
  		   		captions: true,
  		   		pauseOnHover: false,
  		   		captionAnimation: 'fade'});
  	   });
  	</script>
  	-->
  	
  	<!--
  	<script type="text/javascript">
  		$(window).load(function(){
  			$('#slider').nivoSlider({
  				effect: 'fade',
  				directionNav: 'true',
  				manualAdvance: 'true'
  			});
  		});	
  	</script>
  	-->
  
      <!-- IE Fix for HTML5 Tags -->
      <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
	
  </head>

	<body>
		<div id='container'>
			<div id='header'>
				<a href="/">
					<img src='/images/FineArtLogo300dpi.png'/>
				</a>
				<div id="nav-block">
					<ul id="nav">
						<li><a href="/">Home</a></li>
						<li><a href="http://shop.lesterpickerphoto.com">Shop</a></li>
						<li><a href="/archive.html">Archive</a></li>
						<li><a href="/gallery/">Gallery</a></li>
						<li><a href="/blog/">Blog</a></li>
					</ul>
				</div>
			</div>
			{{ content }}
			<div id='footer'>
				<div id="email">
					<p><a href='mailto:lespicker@gmail.com'>LesPicker@Gmail.Com</a></p>
				</div>
				<div id="phone">
					<p>+1.410.942.0500</p>
				</div>
				<div id="addr">
					<p>Havre de Grace, MD USA</p>
				</div>
			</div>
		</div>
		{% include JB/analytics %}
		
    <script src="data-cfasync='false' /javascripts/foundation/jquery.js"></script>
    <script src="data-cfasync='false' /javascripts/foundation/foundation.min.js"></script>
    <script src="data-cfasync='false' /javascripts/foundation/foundation.orbit.js"></script>

    <script type="text/javascript">$(document).foundation();</script>
    
  	<script type="text/javascript" src="/javascripts/lightview3/js/spinners/spinners.min.js"></script>
  	<script type="text/javascript" src="/javascripts/lightview3/js/lightview/lightview.js"></script>
    
	</body>
</html>
