<div id="top-row">
	<div id='content'>
		<div id="featured">
			<a href="/page.html" data-caption="#htmlCaption">
				<img src='/images/img1.jpg' data-caption="#htmlCaption"/>
			</a>
			<a href="/page.html" data-caption="#htmlCaption2">
				<img src='/images/img2.jpg' data-caption="htmlCaption" />
			</a>
			<a href="/page.html" data-caption="#htmlCaption">
				<img src='/images/img3.jpg' data-caption="#htmlCaption" />
			</a>
			<img src='/images/img4.jpg' data-caption="htmlCaption" />
			<img src='/images/img5.jpg' data-caption="#htmlCaption2" />
			<a href="/page.html" data-caption="#htmlCaption">
				<img src='/images/img6.jpg' data-caption="htmlCaption" />
			</a>
		</div>
		<span class="orbit-caption" id="htmlCaption"><a href="/page.html"><h3>Limited Edition Now Available</h3></a></span> 
		<span class="orbit-caption" id="htmlCaption2"><a href="/page.html"><h3>New Signed Folio</h3></a></span> 
	</div>
	
	{% include themes/lpfa/sidebar.html %}
		
</div>
      
<div id="bott-row">
	<div id="bott-1">
		<blockquote>
			Some moron thinks this stuff is fan-freaking-tastic.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<cite>Some A-hole</cite>
		</blockquote> 
	</div>
	
	<div id="bott-2">
		<blockquote>
			Other folk are just folks and have some other nice stuff to say. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
			<cite>Another A-hole</cite>
		</blockquote> 
	</div>
	
	<div id="bott-3">
		<blockquote>
			Then another guy I don't know wrote this on facebook about me. I thought it was really nice so &hellip; Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	
			<cite>Completely Different A-hole</cite>
		</blockquote> 
	</div>
</div>
		
