<div id='sidebar'>
	<h3>Fine Art Editions</h3>
	<ul>
		<li><a href="/limited-edition/">Limited Edition Prints</a></li>
		<li><a href="/portfolio-boxes/">Portfolio Editions</a></li>
		<li><a href="/folio-collections/">Folio Collections</a></li>
	</ul>
	<h3>Art Installations</h3>
	<ul>
		<li><a href="/commercial-installations/">Corporate</a></li>
		<li><a href="/residential-installations/">Residential</a></li>
	</ul>
	<h3>Workshops</h3>
		<ul>
			<li><a href="/workshops/">Photography Workshops</a></li>
			<li><a href="/workshops/past-workshop.html">Past Workshops</a></li>
			<li><a href="/workshops/upcoming-workshops.html">Upcoming Workshops</a></li>
		</ul>
	<h3>About</h3>
	<p>At LPFA our mission is to bring the beauty of nature to discriminating fine art collectors, corporations, healthcare institutions, and private home.&nbsp;<a href="/about/">more&hellip;</a></p> </div>
