<div id='sidebar'>
	<h3>Fine Art Editions</h3>
	<ul>
		<li><a href="/limited-edition-prints-d1.html">Limited Edition Prints</a></li>
		<li><a href="/portfolio-boxes-d1.html">Portfolio Editions</a></li>
	{% include themes/lpfa/news.html %}
	</ul>
	<h3>Of Interest</h3>
	<ul>
		<li><a href="http://blog.lesterpickerphoto.com">Blog</a></li>
		<li><a href="http://shop.lesterpickerphoto.com">Store</a></li>
	</ul>	
	<h3>Bio</h3>
	<p>Les Picker is a photographer and other such stuff sometimes he does stuff and then other stuff. Every once in a long while he takes some pictures of Canada and other places. <a href="/bio-d1.html">Usually when it's snowing. &hellip;</a></p>
</div>
