<div id='sidebar'>
	<h3>Fine Art Editions</h3>
	<ul>
		<li><a href="/limited-edition-prints-d1.html">Limited Edition Prints</a></li>
		<li><a href="/portfolio-boxes-d1.html">Portfolio Editions</a></li>
	{% include themes/lpfa/news.html %}
	</ul>
	<h3>Bio</h3>
	<p>Les Picker has been photographing since the age of 11, when his father, an accomplished amateur photographer, bought him his first 35mm SLR film camera. Les has since photographed <a href="/bio-d1.html">for National Geographic Society&hellip;</a></p>
</div>
