<div id='sidebar'>
	<h3>Bio</h3>
	<p>Les Picker is a photographer and other such stuff sometimes he does stuff and then other stuff. Every once in a long while he takes some pictures of Canada and other places. <a href="/text.html">Usually when it's snowing. &hellip;</a></p>
	{% include themes/lpfa/news.html %}
	<h3>Folios and More</h3>
	<ul>
		<li><a href="/nivo.html">New Image Slider</a></li>
		<li><a href="/text.html">Text Page</a></li>
		<li><a href="/folios.html">Folio Page</a></li>
		<li><a href="/alt-folios.html">Markdown Folio</a></li>
		<li><a href="/textsz.html">Text Size Test</a></li>
		<li><a href="/zwelcome.html">Foundation 3</a></li>
	</ul>
	<h3>Select Places</h3>
	<ul>
		<li><a href="http://photo.rwboyer.com">Blog</a></li>
		<li><a href="http://blog.lesterpickerphoto.com">Other Blog</a></li>
		<li><a href="http://store.rwboyer.com">A Store</a></li>
		<li><a href="http://shop.lesterpickerphoto.com">Another Store</a></li>
	</ul>
</div>
