<div id="bott-row">
	<div id="bott-1">
		<h4>Installations</h4>
		<blockquote>
			We all feel that Les’ artwork adds a magical touch to the healing environment we have created here. Everyone is ecstatic at what he has accomplished.
			<cite>Scott Brown, M.D. Sinai Hospital of Baltimore</cite>
		</blockquote> 
		<blockquote>
			I truly have no words that can adequately describe how beautiful the images are and how they have brightened my office!
			<cite>Rafael Tamargo, M.D.	Johns Hopkins Medical Institutions</cite>
		</blockquote> 
	</div>
	<div id="bott-2">
		<h4>Limited Editions</h4>
		<blockquote>
			There is an audible "Wow!" when clients walk into our reception area and are greeted with the powerful images. The pictures are so real people want to reach out and touch them in amazement. Thanks again for taking the time to find out what we wanted, and creating an exciting design. We love our new look!
			<cite>Rory G. White, AAMS Edward Jones Investments</cite>
		</blockquote> 
	</div>
	<div id="bott-3">
		<h4>Workshops</h4>
		<blockquote>
			Les Picker's Acadia National Park workshop was outstanding. Les is an excellent teacher, photographer and leader. He was extremely knowledgeable about the Park and scouted out several beautiful photo venues in advance. He offered solid and comprehensive shooting tips geared to our individual needs and provided insightful feedback. He was genuinely interested in our progress and provided additional opportunity to review and improve our images after we returned home.. I recommend the workshop without reservation and look forward to attending another one with him. 
			<cite>Lewis Rothman, M.D. NYC</cite>
		</blockquote> 
	</div>
</div>
